/* Reset default margin */
body {
    margin: 0;
    background-image: url("../assets/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #aaa;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.enter {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Center panel */
.panel {
    position: relative;
    width: 500px;
    padding: 40px;
    background: #1c1c1c;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

/* Logo overlapping the panel */
.logo {
    position: absolute;
    top: -20px;
    left: 20px;
    background: transparent;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 8px;

    font-family: 'VT323', MONOSPACE;
    font-size: 36px;
    letter-spacing: 2px;

    color:#000;
    text-shadow:
        0 0 1px #00ff51,
        0 0 3px #00ff51,
        0 0 3px #00ff45;

}

/* content block */
.content {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}



/* Navigation links */
.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    color: #0ff;
    font-size: 18px;
    transition: 0.2s;
}

.links a:hover {
    color: #fff;
}
